# Environment & IDE
.env
.idea/
.vscode/
.DS_Store
__pycache__/
*.pyc
venv/
.ipynb_checkpoints/

# Data & Models
data/
*.csv
models/*.pkl
models/*.json
data/processed/

# Checkpoints & Logs
checkpoints/
tmp/
*.log
mlruns/

# Project Documentation
PRESENTATION_SCRIPT_*.md
README_FR.md
*DRAFT.md

# Spark & JVM
target/
.ivy2/
.sbt/
project/project/
project/target/
